<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>{{ question.question_text}}</h1>
    {% for choice in question.choice_set.all %}
      <li>{{ choice.choice_text }} -- {{ choice.votes}} vote{{ choice.votes|pluralize}}</li>
    {% endfor%}
    <a href="{% url 'polls:detail' question.id %}"> Vote again?</a>
  </body>
</html>